{
    email mathe@hostinger.com
}

srv1630892.hstgr.cloud {
    # Redireciona a raiz para o admin
    redir / /admin/ 301

    # Proxy para a API
    reverse_proxy /license/* license_api:8000
    reverse_proxy /config/* license_api:8000
    reverse_proxy /version/* license_api:8000

    # Painel Admin
    handle_path /admin* {
        root * /usr/share/caddy/admin
        file_server browse
        try_files {path} /index.html
    }

    # Segurança
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }

    encode zstd gzip
}
